In [1]:
d = {'key1':'value','key2':123}

In [3]:
d['key1']

'value'

In [4]:
d['key2']

123

In [5]:
d = {'k1':[1,2,3]}

In [6]:
d['k1']

[1, 2, 3]

In [7]:
my_list = d['k1']

In [8]:
my_list[0]

1

In [9]:
d['k1'][0]

1

In [10]:
d = {'k1':{'innerkey':[1,2,3]}}

In [11]:
d['k1']['innerkey'][1]

2

In [12]:
True

True

In [13]:
False

False

In [14]:
my_list = [1,2,3]

In [15]:
my_list[0]

1

In [16]:
t = (1,2,3)

In [17]:
t[0]

1

In [18]:
my_list

[1, 2, 3]

In [19]:
my_list[0]

1

In [20]:
my_list[0] = 'NEW'

In [21]:
my_list

['NEW', 2, 3]

In [22]:
{1,2,3}

{1, 2, 3}

In [23]:
{1,1,1,2,2,2,3,3,3}

{1, 2, 3}

In [24]:
set([1,1,1,1,2,2,2,5,5,5,6,6,6])

{1, 2, 5, 6}

In [25]:
s = {1,2,3}

In [26]:
s.add(5)

In [27]:
s

{1, 2, 3, 5}

In [28]:
s.add(5)

In [29]:
s

{1, 2, 3, 5}

In [30]:
1> 2

False

In [31]:
1<2

True

In [32]:
1>=1

True

In [33]:
1 == 1

True

In [34]:
1 == 2

False

In [36]:
1 != 3

True

In [37]:
'hi' == 'bye'

False

In [38]:
'hi != 'bye'

SyntaxError: invalid syntax (<ipython-input-38-976e322cfef1>, line 1)

In [39]:
'hi' != 'bye'

True

In [40]:
1 < 2 and 2 > 3

False

In [42]:
(1 < 2) or (2 > 3) or (1 == 1)

True

In [43]:
True and False

False

In [44]:
True or False

True

In [45]:
if 1<2:
    print('yep!')

yep!

In [47]:
if True:
    x = 2 + 2

In [48]:
x

4

In [54]:
if 1 == 2:
    print('First')
elif 4==4:
    print('Second')
elif 3 == 3:
    print('Middle')
else:
    print('last')

Second

In [53]:
for jelly in seq:
    print(jelly)

1
2
3
4
5

In [54]:
# Part 3

In [10]:
i=1

while i <5:
    print('i is {}'.format(i))
    i = i+1

i is 1
i is 2
i is 3
i is 4

In [12]:
range(0,5)

range(0, 5)

In [ ]:
seq = [1,2,3,4,5]

In [7]:
for num in seq:
    print('hello')

hello
hello
hello
hello
hello

In [11]:
for x in seq:
    print(x)

1
2
3
4
5

In [13]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [14]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [15]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
x = [1,2,3,4]

In [17]:
out = []

for num in x:
    out.append(num**2)

In [18]:
print(out)

[1, 4, 9, 16]

In [19]:
[num**2 for num in x]

[1, 4, 9, 16]

In [20]:
out = [num ** 2 for num in x]

In [21]:
out

[1, 4, 9, 16]

In [22]:
def my_func(param1):
    print(param1)

In [23]:
my_func('hello')

hello

In [31]:
def my_func(name = 'Default Name'):
    print('Hello ' +name)

In [32]:
my_func('Andy')

Hello Andy

In [49]:
def square(num):
    """
    THIS IS A DOCSTRING.
    CAN GO MULTIPLE LINES.
    THIS FUNCTION SQUARES A NUMBER.
    """
    return num**2

In [50]:
output = square(2)

In [51]:
output

4

In [46]:
square

In [48]:
range

range

In [55]:
# Part 4

In [56]:
def times2(var):
    return var*2

In [57]:
times2(5)

10

In [58]:
# map()

In [59]:
seq = [1,2,3,4,5]

In [61]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [62]:
def times2(var): return var*2

In [63]:
times2(5)

10

In [65]:
t = lambda var:var*2

In [66]:
t(6)

12

In [67]:
list(map(lambda num: num*3,seq))

[3, 6, 9, 12, 15]

In [69]:
list(filter(lambda num: num%2 == 0,seq))

[2, 4]

In [70]:
s = 'hello my name is Sam'

In [71]:
s.lower()

'hello my name is sam'

In [72]:
s.upper()

'HELLO MY NAME IS SAM'

In [73]:
s.split()

['hello', 'my', 'name', 'is', 'Sam']

In [77]:
tweet = 'Go Sports! #Sports'

In [79]:
tweet.split('#')[1]

'Sports'

In [80]:
d = {'k1': 1, 'k2': 2}

In [81]:
d.keys()

dict_keys(['k2', 'k1'])

In [82]:
d.items()

dict_items([('k2', 2), ('k1', 1)])

In [83]:
d.values()

dict_values([2, 1])

In [84]:
lst = [1,2,3]

In [85]:
lst.pop()

3

In [86]:
lst

[1, 2]

In [87]:
lst = [1,2,3,4,5]

In [88]:
lst

[1, 2, 3, 4, 5]

In [89]:
item = lst.pop()

In [90]:
lst

[1, 2, 3, 4]

In [91]:
first = lst.pop(0)

In [92]:
lst

[2, 3, 4]

In [93]:
lst.append('new')

In [94]:
lst

[2, 3, 4, 'new']

In [95]:
'x' in [1,2,3]

False

In [96]:
'x' in ['x', 'y', 'z']

True

In [97]:
x = [(1,2),(3,4),(5,6)]

In [98]:
x[0][1]

2

In [99]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [104]:
for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6